
.chatbox {
    display: block;
    bottom: 0px;
    position: absolute;
    width: "100% !important";
  }
  
  .chatLinebox {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin: 5px;
    padding: 10px 15px 15px 15px;
    background: #fff;
    ;
  }
  
  .chatLinebox2 {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin: 5px;
    padding: 10px 15px 15px 15px;
    background: #f8d9d9;
    text-align: right;
  }
  
  .nameUser1 {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    /*color: #ff3333;*/
    color: #ff001f;
    padding-bottom: 10px;
  }
  
  .nameUser2 {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #4e4c4c;
    padding-bottom: 10px;
  }
  
  .iconChat {
    font-size: 20px !important;
    top: 5px;
    position: relative;
  }
  